.todo-item {
  margin-top: 1rem;
  border-radius: 4px;
  background-color: grey;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.overDue {
  background-color: rgb(162, 46, 46);
  border-color: rgb(162, 46, 46);
}

.complete {
  background-color: rgb(70, 116, 70);
  text-decoration: line-through;
}
